.team {
  background-color: var(--secondary-background-color);
}

.team-set {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}

.team-text {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 16px;
}

.team-cards {
  background-color: var(--primary-background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.cards-content {
  padding-top: 30px;
  padding-bottom: 24px;
}

.social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color var(--transition-dur-and-funk);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-icon {
  fill: #afb1b8;
  transition: fill var(--transition-dur-and-funk);

  .social-link:hover &,
  .social-link:focus & {
    fill: var(--selection-color);
  }
}

@media screen and (min-width: 1200px) {

  .cards-content {
    padding-bottom: 30px;
  }
}
