.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.form-field {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.contact-form-input {
  margin: 0;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: var(--secondary-background-color);

  transition: border-color var(--transition-dur-and-funk);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.contact-form-input-wrapper {
  position: relative;
  display: block;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;

  transform: translateY(-50%);
  transition: fill var(--transition-dur-and-funk);

  .contact-form-input:focus + & {
    fill: var(--accent-color);
  }
}

.contact-form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
  margin-bottom: 4px;
}

.contact-form-message {
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: var(--secondary-background-color);

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.form-check-field {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

.form-check-input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.form-check-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--secondary-color);

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form-check-label-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration-line: underline;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form-own-checkbox {
  border: 1px solid #000000;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;

  .form-check-input:checked + & {
    border: var(--accent-color);
  }
}

.form-own-checkbox-icon {
  display: none;

  .form-check-input:checked + .form-own-checkbox & {
    display: block;
  }
}

.contact-form-button {
 text-align: center;
}

.contact-form-button-submit {
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: var(--selection-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px var(--box-shadow-color);
  border-radius: 4px;
  padding: 10px 52px;
  transition: background-color var(--transition-dur-and-funk);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
